/*-------------GLOBAL STYLES-----------------*/

* {
    box-sizing: border-box;
}

body {
    background: lightskyblue;
    color: white;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

h1 {
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
}

.container {
    width: 550px;
    height: 719px;
    background: #1F2937;
}

.top {
    height: 190px;
    background: #3A69D2;
    align-items: center;
    justify-content: center;
}

.more-info {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    line-height: 1.75rem;
}

.main {
    padding: 0 40px;
}
.button-div {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.half {
    width: 100%;
}
.task-main {
    widht: 100%;
}


.notes-total {
    border-top: 1px solid white;
    padding-top: 15px;
    margin-top: 10px;
}

.display-flex {
    display:flex;
}

/*-------------LINKS & BUTTONS-----------------*/

.service-btn {
    width: 143px;
    height: 45px;
    background: #D1D4F4;
    border: 1px solid #D1D4F4;
    border-radius: 7px;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
}

.send-btn {
    background: #3A69D2;
    width: 100%;
    height: 45px;
    border: 1px solid #3A69D2;
    border-radius: 7px;
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    margin-top: 40px;
}


/*-------------innerHTML styling-----------------*/

.align-right {
    text-align: right;
}

#total-el {
    font-size: 2rem;
    margin: 10px 0;
    font-weight: 500;
}

#task-el div p {
    font-size: 1.25rem;
    margin: 5px 0;
    font-weight: 500;
}

.light-grey {
    color: #918E9B;
}

.remove {
    padding: 0 15px;
    font-size: 0.75rem;
}

.notes {
    font-size: 0.75rem;
}
.margin0 {
    margin: 0;
}
